/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
	
	.logo {
		max-height: 90%;
		margin-left: -1.5em;
		margin-right: 1.5em;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.content-grid {
	  width:100%;
	}
	.mapa_cell{
		height: 1000px;
		padding: 5px;
	}
	.inf_cell{
		height: 500px;
		padding: 5px;
		/*		  display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-flex-direction: column;
			  -ms-flex-direction: column;
				  flex-direction: column;
		  -webkit-align-items: stretch;
			  -ms-flex-align: stretch;
				  align-items: stretch;*/
	}


	.inf_graf:nth-child(1) {
	  /*color: #ACEC00;*/
	}
	.inf_graf:nth-child(2) {
	  /*color: #00BBD6;*/
	}
	.inf_graf:nth-child(3) {
	  /*color: #BA65C9;*/
	}
	/* Optional: Makes the sample page fill the window. */
	html, body {
		height: 100%;	
		margin: 0%;
		padding: 0%;
		/*background-color: rgb(33,150,243);*/
	}
}