/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
	
	/**** CABECERA ****/
	.logo {
		max-height: 90%;
		margin-left: -1.5em;
		margin-right: 1.5em;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.content-grid {
	  width:100%;
	}
	/**** VISUALIZATION ****/
	.mapa_cell{
		height: 810px;
		padding: 5px;
	}
	*[dir="ltr"] {
    	width:700px !important ;
	}
	.inf_cell{
		height: 745px;
		padding: 5px;
	}
	.container {
	    position: relative;
	}
	.text-block {
	    position: absolute;
	    bottom: 20px;
	    right: 20px;
	    color: black;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.layoutDerecho {
		float: left;
  		width: 500px;
	}
	.layoutDerecho #graficos {
		float: left;
  		width: 15%;
	}
	.layoutDerecho #dorsal {
		float: left;
  		width: 150px;
	}
	.inf_graf {
	  display:inline-block;  
	  margin-left:0px;
	  margin-right:20px;
	  padding-left:10px;
	  padding-right:0px;
	}
	.graf_seguimiento {
		border:2px solid #000; 
		padding:10px; 
		margin:10px; 
	}
	/**** DATA BASE ****/
	.selectabla{
		height: 20px;
    	padding: 20px;
	}
	.tablaBD{
		/*height: 680px;*/
		/*height: 320px;*/
    	padding: 20px;
	}
	.infopersona {
		height: 50px;
    	padding: 20px;
	}
	.button_info{
		height: 50px;
    	padding: 20px;
	}
	.mdl-layout__container.has-scrolling-header .mdl-layout--fixed-header .mdl-layout__content {
		overflow-y: visible;
		overflow-x: visible;
		overflow: visible;
	}

	.card {
		height: 380px;           
		border: 1px solid #000000;    
		border-radius: 4px;           
		overflow: hidden;             
		flex-direction: column;       		
	}
	.center{
	margin: auto;
	}

/*	.card-header {
		color: #D32F2F;
		text-align: center;
		font-size: 12px;
		font-weight: 600;
		border-bottom: 1px solid #EF9A9A;
		background-color: #FFEBEE;
		padding: 5px 10px;
	}*/

	.card-main {
		display: flex;              /* Children use Flexbox */
		flex-direction: column;     /* Rotate Axis to Vertical */
		justify-content: center;    /* Group Children in Center */
		align-items: center;        /* Group Children in Center (+axis) */
		padding: 15px 0;            /* Add padding to the top/bottom */
	}

/*	.material-icons {
		font-size: 36px;
		color: #D32F2F;
		margin-bottom: 5px;
	}*/

	.main-description {
		color: #D32F2F;
		font-size: 12px;
		text-align: center;
	}
	.division_divs{
		display: inline-block;
	    padding-left: 2px;
    	padding-top: 10px;
	}


	/* Optional: Makes the sample page fill the window. */
	html, body {
		height: 100%;	
		margin: 0%;
		padding: 0%;
		/*background-color: rgb(33,150,243) !important;*/
	}
	#elevation_chart svg {
		width: 900px !important;
	}


/*.mdl-card__media {
    margin: 0;
}

.mdl-card__media > img {
  max-width: 100%;
}

.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}*/