/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
	
	.logo {
		max-height: 90%;
		margin-left: -1.5em;
		margin-right: 1.5em;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.content-grid {
	  width:100%;
	}
	.mapa_cell{
		height: 810px;
		padding: 5px;
	}
	*[dir="ltr"] {
    	width:700px !important ;
	}
	.inf_cell{
		height: 745px;
		padding: 5px;
	}
	/*.inf_graf:nth-child(1) {
	  color: #00ec85;
	}
	.grafTiempo {
	  color: #0079ec;
	}
	.inf_graf:nth-child(3) {
	  color: #9800ff;
	}*/
		/* Centered text */
	.container {
	    position: relative;
	}

	/* Bottom right text */
	.text-block {
	    position: absolute;
	    bottom: 20px;
	    right: 20px;
	    color: black;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.layoutDerecho {
		float: left;
  		width: 500px;
	}
	.layoutDerecho #graficos {
		float: left;
  		width: 15%;
	}
	.layoutDerecho #dorsal {
		float: left;
  		width: 150px;
	}
	.graf_seguimiento {
		border:2px solid #000; 
		padding:10px; 
		margin:10px; 
	}
	.selectabla{
		height: 20px;
    	padding: 20px;
	}
	.tablaBD{
		/*height: 680px;*/
		/*height: 320px;*/
    	padding: 20px;
	}
	.infopersona {
		height: 50px;
    	padding: 20px;
	}
	.button_info{
		height: 50px;
    	padding: 20px;
	}
	.mdl-layout__container.has-scrolling-header .mdl-layout--fixed-header .mdl-layout__content {
		overflow-y: visible;
		overflow-x: visible;
		overflow: visible;
	}
	/* Optional: Makes the sample page fill the window. */
	html, body {
		height: 100%;	
		margin: 0%;
		padding: 0%;
		/*background-color: rgb(33,150,243) !important;*/
	}
	#elevation_chart svg {
		width: 900px !important;
	}
}